footer {
    margin-top: 15vh;
    background-color: #212121;
    padding: 1.5rem;
}

footer p {
    font-size: 1.6rem;
    text-align: center;
    color: #F9F9F9;
    font-weight: 700;
}

footer span {
    color: #00DF5E;
}