main {
    display: flex;
    flex-direction: column;
}

section#introduction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    padding: 3.5rem 8rem;
}

section#introduction div#container {
    display: flex;
    gap: 3.5rem;
    flex-direction: column;
}

section#introduction div#container div#text {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

section#introduction div#container div#text h2{
    font-size: 3.6rem;
    width: 30rem;
    color: #F9F9F9;
}

section#introduction div#container div#text p{
    font-size: 1.8rem;
    width: 35rem;
    color: #828282;
}

section#introduction div#container div#buttons {
    display: flex;
    gap: 1.5rem;
}

section#introduction div#container div#buttons a  {
    text-decoration: none;
    color: #F9F9F9;
    border: solid .1rem #333333;
    padding: 1.2rem 1.8rem;
    font-size: 1.4rem;
    font-weight: 500;
}

section#introduction div#container div#buttons a:nth-child(1) {
    background-color: #00DF5E;
    color: #171717;
}
