section#projects  {
    display: flex;
    flex-direction: column;  
    gap: 3rem;    
    margin-top: 8%;
    
}

section#projects h2 {
    color: #F9F9F9;
    font-size: 3.2rem;
    text-align: center;


}

section#projects div#container-projects {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
    gap: 4.5rem;
    flex-wrap: wrap;
    
}
section#projects div#container-projects div.project {
    display: flex;
    flex-direction: column;
    background-color: #212121;
    border: solid .1rem #333333;
    padding: 2rem;
    gap: 5rem;
    
}
section#projects div#container-projects div.project img {
    border: solid .1rem #333333;
}
section#projects div#container-projects div.project h4 {
    font-size: 1.8rem;
    color: #FFFFFF;
}
section#projects div#container-projects div.project p {
    font-size: 1.4rem;
    color: #828282;
}