@media (max-width: 800px) and (min-width: 356px){
    html {
        font-size: 50%;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header h1#logo {
        font-size: 1.8rem;
    }

    button#menu-mobile {
        display: flex;
        background: none;
        border: 0;
    }

    button#menu-mobile-close {
        display: none;
    }

    .navigation-list-items-mobile {
        display: none;
    }

    header.active #menu-mobile {
        display: none;
    }

    header.active #menu-mobile-close {
        display: flex;
        background: none;
        border: none;
    }

    header.active #menu-mobile-close img{
        width: 3rem;
    }
    
    header.active nav ul#navigation-list {
        transition: all ease-in-out .3s;
        position: absolute;
        padding: 2rem 0rem;
        width: 100%;
        right: 0;
        flex-direction: column;
        background-color: #212121fb;
        border-right: #00DF5E solid .3rem;
    }
    
    header.active nav ul li.navigation-list-items {
        display: flex;
        justify-content: start;
        padding: 0 4rem;
        align-items: center;
    }

    header.active nav ul li.navigation-list-items-mobile {
        display: none;
    }

    header.active nav ul li.navigation-list-items a {
        border-bottom: solid .1rem #969696;
        
        width: 11rem;
    }

    .navigation-list-items {
        display: none;
    }
    section#introduction {
        height: auto;
    }

    main section#introduction div#container {
        display: flex;
        justify-content: center;
    }

    section#introduction div#container div#text h2 {
        width: 100vw;
        text-align: center;
        font-size: 2.6rem;
    }

    section#introduction div#container div#text p {
        display: flex;
        font-size: 1.8rem;
        width: auto;
        justify-content: center;

    }

    section#introduction img {
        display: none;
    }

    section#introduction div#container div#buttons {
        display: flex;
        justify-content: center;
    }

    section#introduction div#container div#buttons a {
        padding: 1rem 4rem;
    }

    #arrow-anim {
        display: none;
    }

    section#about-me div#text-about-me h2 {
        font-size: 2.6rem;
    }  

    section#about-me div#text-about-me p#desktop {
        display: none;
    } 

    section#about-me div#text-about-me p#mobile {
        display: flex;
        color: #828282;
        font-size: 1.6rem;
        text-align: center;
        width: 35rem;
    }  

    section#about-me div#list-about-me {
        gap: 4rem;
    }

    section#about-me div#list-about-me div.social-about-me h3 {
        font-size: 1.6rem;
    }

    section#about-me div#list-about-me div.social-about-me p {
        font-size: 1.4rem;
    }

    section#services div#container-service div.service {
        align-items: center;
    }

    section#services div#container-service div.service h2 {
        font-size: 2.6rem;
    }

    section#services div#container-service div.service p {
        width: 100%;
        text-align: center;
    }

    section#skills h2 {
        text-align: center;
        font-size: 2.6rem;
        color: #F9F9F9;
    }

    section#skills div#skills-container div.skill {
        background-color: #212121;
        padding: 2.5rem 2.5rem;
        border: solid .1rem #333333;
    }

}
@media (max-width: 355px){
    html {
        font-size: 40%;
    }
    
    header {
        display: flex;
        justify-content: space-between;
    }

    header h1#logo {
        font-size: 1.8rem;
    }

    button#menu-mobile {
        display: flex;
        background: none;
        border: 0;
    }

    button#menu-mobile-close {
        display: none;
    }

    .navigation-list-items-mobile {
        display: none;
    }

    header.active #menu-mobile {
        display: none;
    }

    header.active #menu-mobile-close {
        display: flex;
        background: none;
        border: none;
    }

    header.active #menu-mobile-close img{
        width: 3rem;
    }
    
    header.active nav ul#navigation-list {
        transition: all ease-in-out .3s;
        position: absolute;
        padding: 2rem 0rem;
        width: 100%;
        right: 0;
        flex-direction: column;
        background-color: #212121fb;
        border-right: #00DF5E solid .3rem;
    }
    
    header.active nav ul li.navigation-list-items {
        display: flex;
        justify-content: start;
        padding: 0 4rem;
        align-items: center;
    }

    header.active nav ul li.navigation-list-items-mobile {
        display: none;
    }

    header.active nav ul li.navigation-list-items a {
        border-bottom: solid .1rem #969696;
        
        width: 11rem;
    }

    .navigation-list-items {
        display: none;
    }

    section#introduction {
        height: auto;
    }
    
    main section#introduction div#container {
        display: flex;
        justify-content: center;
    }
    
    section#introduction div#container div#text h2 {
        width: 100vw;
        text-align: center;
        font-size: 2.6rem;
    }

    section#introduction div#container div#text p {
        display: flex;
        font-size: 1.8rem;
        width: auto;
        justify-content: center;

    }

    section#introduction img {
        display: none;
    }

    section#introduction div#container div#buttons {
        display: flex;
        justify-content: center;
    }

    section#introduction div#container div#buttons a {
        padding: 1rem 4rem;
    }

    #arrow-anim {
        display: none;
    }

    section#about-me div#text-about-me h2 {
        font-size: 2.6rem;
    }

    section#about-me div#text-about-me p#desktop {
        display: none;
    }  

    section#about-me div#text-about-me p#mobile {
        display: flex;
        color: #828282;
        font-size: 1.6rem;
        text-align: center;
        width: 35rem;
    } 

    section#about-me div#list-about-me {
        gap: 4rem;
    }

    section#about-me div#list-about-me div.social-about-me h3 {
        font-size: 1.6rem;
    }

    section#about-me div#list-about-me div.social-about-me p {
        font-size: 1.4rem;
    }

    section#services div#container-service div.service {
        align-items: center;
    }

    section#services div#container-service div.service h2 {
        font-size: 2.6rem;
    }

    section#services div#container-service div.service p {
        width: 100%;
        text-align: center;
    }

    section#skills h2 {
        text-align: center;
        font-size: 2.6rem;
        color: #F9F9F9;
    }
    
    section#skills div#skills-container div.skill {
        background-color: #212121;
        padding: 2.5rem 2.5rem;
        border: solid .1rem #333333;
    }
} 